@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
  background-size: 50px 50px;
  background-color: #6d339d;
  font-family: 'Nunito', sans-serif;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 769px) {
  body{
    height: auto;
  }
}

.full-height {
  height: 100%;
}

.purple-box{
  background-color: #999fc7;
}

.purple-text{
  color: #9560c0;
}

.strikethrough {
  text-decoration: line-through;
}

$color-gray: #9560c0;
$color-gray-dark: #665872;
$color-black: #4f3564;
$stripe-height: 7px;
$btn-color: $color-gray;
$btn-background: #fff;
$btn-color-hover: #fff;
$btn-background-hover: $color-gray;
$border-color: $color-gray;
$border-color-hover: $color-black;

@mixin reset-button {
    overflow : visible;
    margin : 0;
    padding : 0;
    border : 0;
    background : transparent;
    font : inherit;
    line-height : normal;
    cursor : pointer;
    -moz-user-select : text;
    
    &:-moz-focus-inner {
        padding : 0;
        border : 0;
    }
}

@keyframes stripe-slide {
    0% { background-position: 0% 0; }
    100% { background-position: 100% 0; }
}

.btn-move {
  @include reset-button;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 28px 14px;
  background-color: $btn-background;
  color: $color-gray-dark;
  border: 2px solid $border-color;
  border-radius: 6px;
  margin-bottom: 16px;
  transition: all .5s ease;
  
  &--stripe {      
      &:after {
          content: '';
          display: block;
          height: $stripe-height;
          width: 100%;
          background-image: repeating-linear-gradient(
              45deg,
              $border-color,
              $border-color 1px,
              transparent 2px,
              transparent 5px
          );
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          border-top: 1px solid $border-color;
          position: absolute;
          left: 0;
          bottom: 0;
          background-size: $stripe-height $stripe-height;
      }

      &:hover {
          background-color: $btn-background-hover;
          color: $btn-color-hover;
          border-color: $border-color-hover;

          &:after {
              background-image: repeating-linear-gradient(
                  45deg,
                  $btn-color-hover,
                  $btn-color-hover 1px,
                  transparent 2px,
                  transparent 5px
              );
              border-top: 1px solid $border-color-hover;
              animation: stripe-slide 12s infinite linear forwards;
          }
      }
  }
}